%h1 Listing student_modules

%table
  %thead
    %tr
      %th Module
      %th Student
      %th
      %th
      %th

  %tbody
    - @student_modules.each do |student_module|
      - if student_module.student.name == current_student.name
        %tr
          %td= student_module.course_module.name
          %td= student_module.student.name
          %td= link_to 'Destroy', student_module, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Student module', new_student_module_path
