%nav.navbar-expand-lg.navbar-light{style: "background-color: #e3f2fd;"}
  .container-fluid
    .navbar-header
      %a.navbar-brand{href: root_path} Module Selector
    %ul.nav.navbar-nav
      %li
        %a{href: student_modules_path} My Modules
    %ul.nav.navbar-nav
      %li
        %a{href: course_modules_path} Select Modules
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          %span.glyphicon.glyphicon-user
          Account
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          %li
            %a{href: edit_student_registration_path} Edit Profile
          %li
            = link_to "Logout", destroy_student_session_path, method: :delete
          %li
            %a{href: new_student_registration_path} Sign Up
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{href: new_student_session_path}
          %span.glyphicon.glyphicon-log-in
          Log In
